.Products {
  text-align: center;
}

.Products-logo {
  height: 100px;
}

.Products-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.button {
  background: red;
  border-radius: 8px;
  color: white;
}
